Repository cybertec-postgresql/vip-manager, pull requests merged in 2023-07, with the labels that each got.

#160 [+] add support for goreleaser v1.19, fixes #159
  .github/workflows/build.yml
  .goreleaser.yml
Labels: bug, enhancement, github_actions

#161 [+] bump Go to v1.20
  .github/workflows/build.yml
  .github/workflows/release.yml
  go.mod
Labels: enhancement, github_actions

#158 [+] print etcd leader checker message when leader key was found in DCS
  checker/etcd_leader_checker.go
Labels: enhancement
